/*----------------------------------------------------------------------------*\
*  Fonts                                                                       *
\*----------------------------------------------------------------------------*/

@font-face {
    font-family: darksouls-main;
    src: url(optimus-princeps.ttf);
}

@font-face {
    font-family: darksouls-ui;
    src: url(garamond-pro.otf);
}



/*----------------------------------------------------------------------------*\
*  Common                                                                      *
\*----------------------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 4px;
    height: 4px;

    &-corner {
        background-color: rgba(white, 0.1);
    }

    &-track {
        background-color: rgba(white, 0.1);
    }

    &-thumb {
        background-color: rgba(white, 0.25);
    }

    &-thumb:hover {
        background-color: rgba(white, 0.25);
    }
}

html, body, #app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: rgba(15, 15, 15, 1);
    margin: 0;
}

body, div {
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body, button, input, select {
    font-family: darksouls-ui;
    font-size: 1em;
    color: white;
}

h1, h2, h3, h4, h5 {
    font-family: darksouls-main;
    outline: none;
    font-weight: normal;
}

h2 {
    font-size: 1.5em;
    margin: .5rem;
}

h2 {
    font-size: 1.25em;
    margin: .5rem;
}

h3 {
    margin: .8rem 0 .1rem;
}

a {
    color: orange;
}

input, select {
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

input {
    background: none;
    border-bottom: 1px solid rgba(white, .2);

    &:focus {
        border-bottom-color: rgba(white, .75);
    }
}

select {
    background-color: rgba(black, .35);
    padding: .15rem;

    &:hover {
        background-color: black;
    }

    * {
        background-color: black;
        opacity: .8;
    }
}

button {
    border: none;
    background-color: rgba(white, .05);
    width: 170px;
    height: 30px;
    opacity: .8;
    text-shadow: 2px 2px 2px black;

    &:hover {
        opacity: .9;
    }

    &:active:not(:disabled) {
        opacity: 1;
    }

    &:disabled {
        opacity: .5;
    }
}



/*----------------------------------------------------------------------------*\
*  Button                                                                      *
\*----------------------------------------------------------------------------*/

.button-1,
.button-2,
.button-3 {
    position: relative;
    background-color: transparent;
    height: 39px;
    translate: -2px 0;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-position-y: 1px;
        translate: 1px 0;
    }
}

.button-1 {
    width: 217px;

    &:before {
        background-image: url(button-1.png);
    }
}

.button-2 {

    &:before {
        background-image: url(button-2.png);
    }
}

.button-3 {
    width: 130px;

    &:before {
        background-image: url(button-3.png);
    }
}

.button-normal:before {
    filter: brightness(50%) sepia(100%) hue-rotate(175deg) saturate(25%);
}

.button-normal:active:not(:disabled):before {
    filter: brightness(70%) sepia(100%) hue-rotate(175deg) saturate(25%);
}

.button-primary:before {
    filter: brightness(75%) contrast(105%) sepia(100%) hue-rotate(-10deg) saturate(300%);
}

.button-primary:active:not(:disabled):before {
    filter: brightness(90%) contrast(105%) sepia(100%) hue-rotate(-10deg) saturate(300%);
}

.button-dangerous:before {
    filter: brightness(50%) sepia(100%) hue-rotate(-45deg) saturate(400%);
}

.button-dangerous:active:not(:disabled):before {
    filter: brightness(60%) sepia(100%) hue-rotate(-45deg) saturate(400%);
}



/*----------------------------------------------------------------------------*\
*  Checkbox                                                                    *
\*----------------------------------------------------------------------------*/

.checkbox__input {
    display: none;
}

.checkbox__container {
    display: flex;
    position: relative;
    user-select: none;

    & + span {
        margin-left: 1.5rem;
    }
}

.checkbox__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid rgba(#666, .2);
}

.checkbox__checkmark:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 3px;
    height: 9px;
    border: solid rgba(#666, .2);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox__container:hover .checkbox__input ~ .checkbox__checkmark {
    border-color: rgba(#666, .95);

    &:after {
        border-color: rgba(#666, .95);
    }
}

.checkbox__container .checkbox__input:checked ~ .checkbox__checkmark {
    border-color: rgba(#666, 0);
    background-color: rgba(#666, .95);

    &:after {
        border-color: white;
    }
}

.checkbox__container:has(:disabled)
{
    opacity: .5;

    & + span {
        opacity: .5;
    }
}



/*----------------------------------------------------------------------------*\
*  Helper                                                                      *
\*----------------------------------------------------------------------------*/

.center {
    text-align: center;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.fade {
    transition: all 250ms;
}

.valid {
    
}

.invalid {
    outline: 2px solid red;
    outline-offset: 2px;
}



/*----------------------------------------------------------------------------*\
*  Flex Attributes                                                             *
\*----------------------------------------------------------------------------*/

[flex-vertical] {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    max-height: 100%;
}

[flex-horizontal] {
    display: flex;
    flex-direction: row;
    gap: .75rem;
    max-width: 100%;
    justify-content: center;
}

[flex] {
    flex: 1;
}

[no-flex] {
    flex: 0;
}

[no-gap] {
    gap: 0;
}

.fieldset {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem;

    & > label {
        color: gold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: .8em;
        padding: 0 0 .15rem;
    }
}



/*----------------------------------------------------------------------------*\
*  Dialog                                                                      *
\*----------------------------------------------------------------------------*/

.dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 10px;

    &.hidden &__box {
        top: 52%;
    }

    &__box {
        position: fixed;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 564px;
        height: 551px;
        background: url(dialog.png) no-repeat center;
        background-size: 85%;
        padding: 3.75rem;
        display: flex;
        flex-direction: column;

        &__header {
            padding: .875rem 1rem .5rem;
            font-size: 1em;
            background-color: rgba(black, .3);
            text-align: center;
        }

        &__body {
            flex: 1;
            margin: 1.75rem 2.5rem 1rem 2.5rem;
            padding-right: .75rem;
            overflow: hidden scroll;
        }

        &__footer {
            display: flex;
            padding: 0 0 1.5rem;
            justify-content: center;
        }
    }
}



/*----------------------------------------------------------------------------*\
*  Checklist                                                                   *
\*----------------------------------------------------------------------------*/

.checklist {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    &__item {
    }
}



/*----------------------------------------------------------------------------*\
*  Task Manager                                                                *
\*----------------------------------------------------------------------------*/

.tasks {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: .5rem;
    gap: .25rem;
    pointer-events: none;
}

.task {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 100%;
    padding: .6rem .6rem .5rem;
    background-color: rgba(black, .25);
    box-sizing: border-box;

    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__progress {
        position: relative;
        height: .15rem;
        background-color: rgba(limegreen, .25);

        &-value {
            position: absolute;
            height: 100%;
            background-color: limegreen;
        }
    }

    &__info {
        font-size: .75em;
        line-height: 1rem;
        height: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}



/*----------------------------------------------------------------------------*\
*  Log                                                                         *
\*----------------------------------------------------------------------------*/

.log {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -250px;
    width: 250px;
    overflow: hidden scroll;
    height: 100%;
    font-size: .85em;

    &.visible {
        left: 0;

        & ~ .page {
            left: 260px;

            .page-script {
                translate: -60px 0;
            }
        }

        & ~ .dialog {
            left: 260px;
        }

        & ~ .dialog .dialog__box {
            margin-left: 130px;
        }

        & ~ .log-toggle-button {
            left: 250px;

            &::after {
                clip-path: polygon(0 50%, 100% 0, 100% 100%);
            }
        }
    }

    &-entry__sender {
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-entry {
        background-color: #222;
        margin: .5rem 0;
        
        &-header {
            display: flex;
            height: 1.375em;
        }
        
        &__type {
            position: relative;
            padding: .125em .25em .125em .25em;
            z-index: 1;

            &::after {
                position: absolute;
                display: block;
                content: '';
                width: .75em;
                height: 1.375em;
                top: 0;
                right: -.74em;
                clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
            }

            &-info, &-info::after {
                background-color: darkgreen;
            }

            &-warning, &-warning::after {
                background-color: darkgoldenrod;
            }

            &-error, &-error::after {
                background-color: darkred;
            }
        }

        &__sender {
            position: relative;
            background-color: #444;
            padding: .125em .25em .125em .875em;
            
            &::after {
                position: absolute;
                display: block;
                content: '';
                width: .75em;
                height: 1.375em;
                background-color: #444;
                top: 0;
                right: -.74em;
                clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
            }
        }

        &__timestamp {
            white-space: nowrap;
            font-size: .85em;
            opacity: .5;
            padding-right: .25em;

        }

        &-body {
            padding: .25rem;
        }

        &__title {
            font-size: 1.125em;
        }

        &__text {
            background-color: rgba(black, .25);
            max-height: 6.5em;
            padding: .5em;
            overflow: hidden scroll;
        }
    }
}

.log-toggle-button {
    position: fixed;
    padding: 3px;
    width: max-content;
    top: 0;
    left: 0;
    height: 100%;

    &::after {
        content: '';
        display: block;
        background-color: white;
        width: 4px;
        height: 8px;
        clip-path: polygon(0 0, 100% 50%, 0 100%);
    }
}



/*----------------------------------------------------------------------------*\
*  Page                                                                        *
\*----------------------------------------------------------------------------*/
.page {
    position: fixed;
    top: 0;
    left: 10px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    translate: 0 0;
    overflow: auto;

    &-script {
        position: relative;
    }
}




/*----------------------------------------------------------------------------*\
*  Script View                                                                 *
\*----------------------------------------------------------------------------*/

.script {
    width: 400px;
    max-height: 520px;
    
    &-title {
        font-family: darksouls-main;
        font-size: 1.5em;
        height: 50px;
        padding: .5rem 0 0;
    }

    &-instance {
        max-height: 470px;
        overflow: auto;
        padding-right: 5px;

        h3 {
            padding: .5rem 0;
        }

        &-fields {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }

        &-field {
            
            .fieldset {
                margin: 0;
            }
        }

        &-methods {
            display: flex;
            flex-direction: column;
            gap: .25rem;
            margin-left: -5px;
        }

        &-method {
            display: flex;
            align-items: center;
            height: 50px;
            padding: 2px .5rem 0 2px;
            background-color: rgba(white, .05);
            
            &-parameter {

                .fieldset {
                    margin: -4px 0 0;
                }
            }
        }
    }
}



/*----------------------------------------------------------------------------*\
*  Selectable                                                                  *
\*----------------------------------------------------------------------------*/

.selectable {
    position: relative;
    aspect-ratio: 4 / 1;
    text-shadow: 0 1px 2px black, 0 2px 4px black, 0 1px 5px black;

    &.disabled {
        &:before {
            filter: brightness(80%);
        }
    }

    & > div {
        padding: 1rem;
        height: 100%;

        & > div:first-child > div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
            & ~ div {
                font-size: .8em;
                line-height: 1.1em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #ccc;
            }

            &:first-child {
                font-weight: bold;
            }
        }

        & > div + div {
            position: absolute;
            top: 0;
            right: 1.75rem;
            display: flex;
            justify-content: center;
            height: 100%;
        }
    }

    &:before {
        opacity: .5;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(selectable.png) no-repeat center;
        background-size: contain;
        z-index: -1;
        filter: invert(100%) brightness(2%);
    }

    &.enabled:hover:before {
        opacity: .8;
        filter: invert(100%) brightness(15%) contrast(130%);
    }

    &.enabled.selected:before {
        opacity: 1;
        filter: brightness(150%) sepia(40%);
    }
}



/*----------------------------------------------------------------------------*\
*  Blazor (Internal)                                                           *
\*----------------------------------------------------------------------------*/

#blazor-error-ui {
    display: none;
    position: fixed;
    background-color: black;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .6rem 1.25rem .7rem;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: .75rem;
    top: .5rem;
}
