/*----------------------------------------------------------------------------*\
*  Fonts                                                                       *
\*----------------------------------------------------------------------------*/
@font-face {
  font-family: darksouls-main;
  src: url(optimus-princeps.ttf);
}
@font-face {
  font-family: darksouls-ui;
  src: url(garamond-pro.otf);
}
/*----------------------------------------------------------------------------*\
*  Common                                                                      *
\*----------------------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-corner {
  background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}

html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: rgb(17, 17, 25);
  margin: 0;
}

body, div {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body, button, input, select {
  font-family: darksouls-ui;
  font-size: 1em;
  color: white;
}

input, select {
  border: none;
  outline: none;
  width: 100%;
}

input {
  background: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
input:focus {
  border-bottom-color: rgba(255, 255, 255, 0.75);
}

select {
  background: rgba(0, 0, 0, 0.35);
  padding: 0.15rem;
}
select:hover {
  background: black;
}
select * {
  background: black;
  opacity: 0.8;
}

button {
  border: none;
  background: url(message-button.png) no-repeat;
  background-size: cover;
  aspect-ratio: 305/50;
  width: 13rem;
  opacity: 0.8;
  text-shadow: 2px 2px 2px black;
}
button:hover {
  opacity: 1;
}
button:active:not(:disabled) {
  background-image: url(message-button-primary.png);
}
button:disabled {
  opacity: 0.5;
}

h1, h2, h3, h4, h5 {
  font-family: darksouls-main;
  outline: none;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: 1.25em;
  margin: 0.5rem;
}

h3 {
  margin: 0.8rem 0 0.1rem;
}

a {
  color: orange;
}

[flex-vertical] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

[flex-horizontal] {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: center;
}

[flex-gap] {
  gap: 1.5rem;
}

.fieldset {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem;
}
.fieldset > label {
  color: gold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8em;
  padding: 0 0 0.15rem;
}

.dialog {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
.dialog.hidden .dialog__box {
  top: 52%;
}
.dialog__box {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 400px;
  height: 400px;
  background: #111119;
  border: 1px solid #222229;
  display: flex;
  flex-direction: column;
}
.dialog__box__header {
  padding: 1rem 1rem 0.5rem;
  font-family: darksouls-main;
  font-size: 1.25em;
  background: rgba(0, 0, 0, 0.3);
}
.dialog__box__body {
  flex: 1;
  margin: 0.25rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  overflow: hidden scroll;
}
.dialog__box__footer {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  background: rgba(0, 0, 0, 0.3);
}

.checklist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}

.fade {
  transition: all 250ms;
}

.tasks {
  height: 100%;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.5rem;
  gap: 0.25rem;
}

.task {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  padding: 0.6rem 0.6rem 0.5rem;
  background: rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.task__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.task__progress {
  position: relative;
  height: 0.15rem;
  background: rgba(50, 205, 50, 0.25);
}
.task__progress-value {
  position: absolute;
  height: 100%;
  background: limegreen;
}
.task__info {
  font-size: 0.75em;
  line-height: 1rem;
  height: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[dock-top], [dock-left], [dock-right], [dock-bottom] {
  position: fixed;
}
[dock-top] .selectable, [dock-left] .selectable, [dock-right] .selectable, [dock-bottom] .selectable {
  outline: none;
}
[dock-top] .selectable:hover, [dock-left] .selectable:hover, [dock-right] .selectable:hover, [dock-bottom] .selectable:hover {
  background: none;
}

[dock-top],
[dock-bottom] {
  left: 0;
  right: 0;
  height: 100px;
}

[dock-top] {
  top: 0;
}

[dock-bottom] {
  bottom: 0;
}

[dock-left],
[dock-right] {
  top: 0;
  bottom: 0;
  width: 250px;
}

[dock-left] {
  left: 0;
}

[dock-right] {
  right: 0;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.selectable {
  outline: 1px solid rgba(255, 165, 0, 0.2);
  padding: 1rem;
}
.selectable:hover {
  background-color: rgba(255, 165, 0, 0.2);
}
.selectable.selected {
  outline-color: rgba(255, 255, 0, 0.4);
  background-color: rgba(255, 255, 0, 0.4);
}

/*----------------------------------------------------------------------------*\
*  Blazor (Internal)                                                                        *
\*----------------------------------------------------------------------------*/
#blazor-error-ui {
  display: none;
  position: fixed;
  background: black;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.6rem 1.25rem 0.7rem;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
