/*----------------------------------------------------------------------------*\
*  Fonts                                                                       *
\*----------------------------------------------------------------------------*/

@font-face {
    font-family: darksouls-main;
    src: url(optimus-princeps.ttf);
}

@font-face {
    font-family: darksouls-ui;
    src: url(garamond-pro.otf);
}



/*----------------------------------------------------------------------------*\
*  Common                                                                      *
\*----------------------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    &-corner { background: rgba(white, 0.1); }
    &-track { background: rgba(white, 0.1); }
    &-thumb { background: rgba(white, 0.25); }
    &-thumb:hover { background: rgba(white, 0.25); }
}

html, body, #app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: rgba(15, 15, 15, 1);
    margin: 0;
}

body, div {
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body, button, input, select {
    font-family: darksouls-ui;
    font-size: 1em;
    color: white;
}

h1, h2, h3, h4, h5 {
    font-family: darksouls-main;
    outline: none;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-size: 1.25em;
    margin: .5rem;
}

h3 {
    margin: .8rem 0 .1rem;
}

a {
    color: orange;
}

input, select {
    border: none;
    outline: none;
    width: 100%;
}

input {
    background: none;
    border-bottom: 1px solid rgba(white, .2);

    &:focus {
        border-bottom-color: rgba(white, .75);
    }
}

select {
    background: rgba(black, .35);
    padding: .15rem;

    &:hover {
        background: black;
    }

    * {
        background: black;
        opacity: .8;
    }
}

button {
    border: none;
    background-color: rgba(white, .15);
    width: 170px;
    height: 30px;
    opacity: .8;
    text-shadow: 2px 2px 2px black;
    
    &:hover {
        opacity: .9;
    }

    &:active:not(:disabled) {
        opacity: 1;
    }

    &:disabled {
        opacity: .5;
    }
}



/*----------------------------------------------------------------------------*\
*  Buttons                                                                     *
\*----------------------------------------------------------------------------*/

.button-1,
.button-2,
.button-3 {
    position: relative;
    background-color: transparent;
    height: 39px;
    translate: -2px 0;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-position-y: 1px;
        translate: 1px 0;
    }
}

.button-1 {
    width: 217px;

    &:before {
        background-image: url(button-1.png);
    }
}

.button-2 {
    
    &:before {
        background-image: url(button-2.png);
    }
}

.button-3 {
    width: 130px;

    &:before {
        background-image: url(button-3.png);
    }
}

.button-normal:before {
    filter: brightness(50%) sepia(100%) hue-rotate(175deg) saturate(25%);
}

.button-normal:active:not(:disabled):before {
    filter: brightness(70%) sepia(100%) hue-rotate(175deg) saturate(25%);
}

.button-primary:before {
    filter: brightness(75%) contrast(105%) sepia(100%) hue-rotate(-10deg) saturate(300%);
}

.button-primary:active:not(:disabled):before {
    filter: brightness(90%) contrast(105%) sepia(100%) hue-rotate(-10deg) saturate(300%);
}

.button-dangerous:before {
    filter: brightness(50%) sepia(100%) hue-rotate(-45deg) saturate(400%);
}

.button-dangerous:active:not(:disabled):before {
    filter: brightness(60%) sepia(100%) hue-rotate(-45deg) saturate(400%);
}

.button-caps {
    letter-spacing: .05em;
}



/*----------------------------------------------------------------------------*\
*  Helper                                                                      *
\*----------------------------------------------------------------------------*/

.hidden {
    opacity: 0;
    pointer-events: none;
}

.fade {
    transition: all 250ms;
}



/*----------------------------------------------------------------------------*\
*  Flex Attributes                                                             *
\*----------------------------------------------------------------------------*/

[flex-vertical] {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

[flex-horizontal] {
    display: flex;
    flex-direction: row;
    gap: .75rem;
    justify-content: center;
}

.fieldset {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem;

    & > label {
        color: gold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: .8em;
        padding: 0 0 .15rem;
    }
}



/*----------------------------------------------------------------------------*\
*  Dialog                                                                      *
\*----------------------------------------------------------------------------*/

.dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    
    &.hidden &__box {
        top: 52%;
    }

    &__box {
        position: fixed;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 564px;
        height: 551px;
        background: url(dialog.png) no-repeat center;
        background-size: 85%;
        padding: 3.75rem;
        display: flex;
        flex-direction: column;

        &__header {
            padding: .875rem 1rem .5rem;
            font-size: 1em;
            background: rgba(black, .3);
            text-align: center;
        }

        &__body {
            flex: 1;
            margin: 1.75rem 2.5rem 1rem 2.5rem;
            padding-right: .75rem;
            overflow: hidden scroll;
        }

        &__footer {
            display: flex;
            padding: 0 0 1.5rem;
            justify-content: center;
        }
    }
}



/*----------------------------------------------------------------------------*\
*  Checklist                                                                   *
\*----------------------------------------------------------------------------*/

.checklist {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    &__item {

    }
}



/*----------------------------------------------------------------------------*\
*  Task Manager                                                                *
\*----------------------------------------------------------------------------*/

.tasks {
    height: 100%;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: .5rem;
    gap: .25rem;
}

.task {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 100%;
    padding: .6rem .6rem .5rem;
    background: rgba(black, .25);
    box-sizing: border-box;

    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__progress {
        position: relative;
        height: .15rem;
        background: rgba(limegreen, .25);

        &-value {
            position: absolute;
            height: 100%;
            background: limegreen;
        }
    }

    &__info {
        font-size: .75em;
        line-height: 1rem;
        height: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}



/*----------------------------------------------------------------------------*\
*  Dock Attributes                                                             *
\*----------------------------------------------------------------------------*/

[dock-top], [dock-left], [dock-right], [dock-bottom] {
    position: fixed;
}

[dock-top],
[dock-bottom] {
    left: 0;
    right: 0;
    height: 100px;
}

[dock-top] {
    top: 0;
}

[dock-bottom] {
    bottom: 0;
}

[dock-left],
[dock-right] {
    top: 0;
    bottom: 0;
    width: 250px;
}

[dock-left] {
    left: 0;
}

[dock-right] {
    right: 0;
}



/*----------------------------------------------------------------------------*\
*  Projecs                                                                     *
\*----------------------------------------------------------------------------*/

.projects {
    display: flex;
    flex-direction: column;
    gap: 0;
}



/*----------------------------------------------------------------------------*\
*  Selectable                                                                  *
\*----------------------------------------------------------------------------*/

.selectable {
    position: relative;
    aspect-ratio: 4 / 1;
    text-shadow: 0 1px 2px black, 0 2px 4px black, 0 1px 5px black;

    &.disabled {
        &:before {
            filter: brightness(80%);
        }
    }

    & > div {
        padding: 1rem;
    }

    &:before {
        opacity: .5;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(selectable.png) no-repeat center;
        background-size: contain;
        z-index: -1;
        filter: invert(100%) brightness(2%);
    }

    &.enabled:hover:before {
        opacity: .8;
        filter: invert(100%) brightness(15%) contrast(130%);
    }

    &.enabled.selected:before {
        opacity: 1;
        filter: brightness(150%) sepia(40%);
    }
}



/*----------------------------------------------------------------------------*\
*  Blazor (Internal)                                                           *
\*----------------------------------------------------------------------------*/

#blazor-error-ui {
    display: none;
    position: fixed;
    background: black;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .6rem 1.25rem .7rem;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: .75rem;
    top: .5rem;
}
