<div flex-vertical>
    <div>
        <p>
            First, the checksum of the currently installed game is calculated and<br />
            compared accordingly to see if it matches the original game data.
        </p>
    </div>
    <div flex-horizontal>
        <Button onClick="onNextClick" enabled="checksumMatches" styleClass="button-2 button-primary">
            Continue
        </Button>
    </div>
</div>

@code {

    [CascadingParameter] public App app { get; set; }

    [Parameter] public Action onNextClick { get; set; }

    bool checksumMatches;

    protected override async Task OnInitializedAsync()
    {
        await CalcChecksumAsync();
    }

    async Task CalcChecksumAsync()
    {
        var gameFinder = GameFinderUtils.Create(app.config);
        if (gameFinder is null)
            goto Exit;

        var gameFolder = FolderExists(gameFinder.gameFolder_Origin) ? gameFinder.gameFolder_Origin : gameFinder.gameFolder;
        var task = new ManagedTask_CalcFolderChecksum(gameFolder);

        task.onDone.AddListener(fileChecksums =>
        {
            var orignalFileChecksumsJson = ReadText(Data.originalChecksumFile);
            var orignalFileChecksums = JsonConvert.DeserializeObject<HashSet<FileChecksum>>(orignalFileChecksumsJson);
            checksumMatches = orignalFileChecksums.SequenceEqual(fileChecksums);
            return $"Processed {fileChecksums.Count} files";
        });

        await Program.taskManager.RunAsync(task);

    Exit:
        app.Render();
    }

}