<div flex-vertical>
    <div>
        @Html.CALC_FOLDER_CHECKSUM_INFO.ToMarkupString()
    </div>
    <div flex-horizontal>
        <Button onClick="onNextClick" enabled="checksumMatches" styleClass="button-2 button-primary">
            @CONTINUE
        </Button>
    </div>
</div>

@code {

    [CascadingParameter] public App app { get; set; }

    [Parameter] public Action onNextClick { get; set; }

    bool checksumMatches;

    protected override async Task OnInitializedAsync()
    {
        await CalcChecksumAsync();
    }

    async Task CalcChecksumAsync()
    {
        var gameFinder = GameFinderUtils.Create(app.config);
        if (gameFinder is null)
            goto Exit;

        var gameFolder = FolderExists(gameFinder.gameFolder_Origin) ? gameFinder.gameFolder_Origin : gameFinder.gameFolder;
        var task = new ManagedTask_CalcFolderChecksum(gameFolder);

        task.onDone.AddListener(fileChecksums =>
        {
            var filesCount = fileChecksums.Count;
            var orignalFileChecksumsJson = ReadText(Data.originalChecksumFile);
            var orignalFileChecksums = JsonConvert.DeserializeObject<HashSet<FileChecksum>>(orignalFileChecksumsJson);
            
            checksumMatches = orignalFileChecksums.SequenceEqual(fileChecksums);
            
            Program.logger.Log(
                Lang.Title.TASK,
                checksumMatches ? LogType.Info : LogType.Error,
                Lang.Title.CALC_FOLDER_CHECKSUM,
                checksumMatches
                    ? Lang.Text.CALC_FOLDER_CHECKSUM_SUCCESS.Format(filesCount)
                    : Lang.Text.CALC_FOLDER_CHECKSUM_FAILED.Format(filesCount)
            );

            return Lang.Text.CALC_FOLDER_CHECKSUM_RESULT.Format(filesCount);
        });

        await Program.taskManager.RunAsync(task);

    Exit:
        app.Render();
    }

}