<div flex-vertical>
    <div>
        <Button onClick="app.newProjectDialog.Show" styleClass="button-2 button-primary">
            New Project
        </Button>
    </div>
    <div>
        <Button onClick="app.loadProjectDialog.Show">
            Load Project
        </Button>
    </div>
    <div>
        <Button onClick="app.configDialog.Show">
            Config
        </Button>
    </div>
</div>

@code {

    [CascadingParameter] public App app { get; set; }

}