<div flex-vertical>
    <div>
        <Button onClick="CreateProjectButton_Click" styleClass="button-2 button-primary">
            New Project
        </Button>
    </div>
    <div>
        <Button onClick="LoadProjectButton_Click">
            Load Project
        </Button>
    </div>
    <div>
        <Button onClick="EditConfigButton_Click">
            Config
        </Button>
    </div>
</div>

@code {

    [CascadingParameter] public App app { get; set; }

    void CreateProjectButton_Click()
    {
        app.newProjectDialog.Show();
        app.Render();
    }

    void LoadProjectButton_Click()
    {
        app.loadProjectDialog.Show();
        app.Render();
    }

    void EditConfigButton_Click()
    {
        app.configDialog.Show();
        app.Render();
    }

}