[submodule "DSMapStudio"]
	path = DSMapStudio
	url = https://github.com/themelektaus/DSMapStudio
[submodule "UXM Selective Unpack"]
	path = UXM Selective Unpack
	url = https://github.com/themelektaus/UXM-Selective-Unpack
[submodule "SoulsFormats"]
	path = SoulsFormats
	url = https://github.com/themelektaus/SoulsFormats
	branch = er
