.vs/
bin/
obj/
/DS2-SOTFS-InformationGrabber/Build/
/DS2-SOTFS-ModdingToolbox/Build/
/DS2-SOTFS-ModdingToolbox/UserData/
/DS2-SOTFS-ModdingToolbox/UserData.bak/
/DS2-SOTFS-ModdingToolbox/Properties/PublishProfiles/FolderProfile.pubxml.user
*.csproj.user