.checkbox__input {
    display: none;
}

.checkbox__container {
    display: flex;
    position: relative;
    user-select: none;
}

.checkbox__container + * {
    color: rgba(255, 255, 255, .8);
}

.checkbox__container + ::deep span {
    margin-left: 1.5rem;
}

.checkbox__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid rgba(#666, .2);
}

.checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 3px;
    height: 9px;
    border: solid rgba(#666, .2);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox__container:hover .checkbox__input ~ .checkbox__checkmark {
    border-color: rgba(#666, .95);
}

.checkbox__container:hover .checkbox__input ~ .checkbox__checkmark:after {
    border-color: rgba(#666, .95);
}

.checkbox__container .checkbox__input:checked ~ .checkbox__checkmark {
    border-color: rgba(#666, 0);
    background: rgba(#666, .95);
}

.checkbox__container .checkbox__input:checked ~ .checkbox__checkmark:after {
    border-color: white;
}