<Dialog @ref="dialog">
    <Header>Load Project</Header>
    <Body>
        <div class="projects">
            @foreach (var project in projects)
            {
                <ProjectView project="project"
                             selected="@(selectedProject == project)"
                             onClick="() => OnProjectClick(project)" />
            }
        </div>
    </Body>
    <Footer>
        <Button onClick="OnSubmit" styleClass="button-3 button-primary button-caps" enabled="selectedProject is not null">
            Load
        </Button>
        <Button onClick="OnCancel" styleClass="button-3 button-normal button-caps">
            Cancel
        </Button>
    </Footer>
</Dialog>

@code {

    [CascadingParameter] public App app { get; set; }

    Dialog dialog;

    readonly List<Project> projects = new();
    Project selectedProject;

    public void Show()
    {
        selectedProject = null;
        projects.Clear();
        projects.AddRange(ProjectUtils.LoadAll());
        
        dialog.visible = true;
    }

    void OnProjectClick(Project project)
    {
        selectedProject = project;
        this.Render();
    }

    void OnSubmit()
    {
        app.project = selectedProject;
        app.page = nameof(Page_Project);
        
        dialog.visible = false;
    }

    void OnCancel()
    {
        dialog.visible = false;
    }

}