<Dialog visible="visible">
    <Header>New Project</Header>
    <Body>
        <div class="fieldset">
            <label>Project Name</label>
            <input @bind="projectName" @bind:event="oninput" />
        </div>
    </Body>
    <Footer>
        <Button onClick="OnSubmit" styleClass="button-3 button-primary button-caps" enabled="ProjectUtils.CanCreate(projectName)">
            Create
        </Button>
        <Button onClick="OnCancel" styleClass="button-3 button-normal button-caps">
            Cancel
        </Button>
    </Footer>
</Dialog>

@code {

    [CascadingParameter] public App app { get; set; }

    public bool visible { get; private set; }

    string projectName;

    public void Show()
    {
        projectName = null;
        visible = true;
    }

    void OnSubmit()
    {
        visible = false;
        app.project = ProjectUtils.Create(app.config, projectName);
        app.page = nameof(Page_Project);
        app.Render();
    }

    void OnCancel()
    {
        visible = false;

        app.Render();
    }

}