<Dialog @ref="dialog">
    <Header>@LOAD_PROJECT</Header>
    <Body>
        <div class="projects">
            @foreach (var project in projects)
            {
                <Selectable_Project project="project"
                                    selected="@(selectedProject == project)"
                                    onClick="() => OnProjectClick(project)" />
            }
        </div>
    </Body>
    <Footer>
        <Button onClick="OnSubmit"
                styleClass="@Button.StyleClass.Primary(3, caps: true)"
                enabled="selectedProject is not null">
            @LOAD
        </Button>
        <Button onClick="OnCancel"
                styleClass="Button.StyleClass.Normal(3, caps: true)">
            @CANCEL
        </Button>
    </Footer>
</Dialog>

@code {

    [CascadingParameter] public App app { get; set; }

    Dialog dialog;

    readonly List<Project> projects = new();
    Project selectedProject;

    Action<Project> onSubmit;

    public void Show(Action<Project> onSubmit)
    {
        selectedProject = null;

        projects.Clear();
        projects.AddRange(ProjectUtils.LoadAll());

        dialog.visible = true;

        this.onSubmit = onSubmit;
    }

    void OnProjectClick(Project project)
    {
        selectedProject = project;
        this.Render();
    }

    void OnSubmit()
    {
        onSubmit.Invoke(selectedProject);
        dialog.visible = false;
    }

    void OnCancel()
    {
        dialog.visible = false;
    }

}