<Dialog @ref="dialog">
    <Header>@CUSTOM_BUILD_SETTINGS</Header>
    <Body>
        <Checklist @ref="paramChecklist" />
    </Body>
    <Footer>
        <Button onClick="OnSubmit" styleClass="@Button.StyleClass.Primary(3)">
            @SAVE
        </Button>
        <Button onClick="OnCancel" styleClass="@Button.StyleClass.Normal(3)">
            @CANCEL
        </Button>
    </Footer>
</Dialog>

@code {

    [CascadingParameter] public App app { get; set; }

    Dialog dialog;

    Checklist paramChecklist;

    public void Show()
    {
        paramChecklist.items.Clear();
        foreach (var paramName in app.project.EnumerateProjectParamNames())
            paramChecklist.items.Add(paramName, app.project.activeParams.Contains(paramName));
        paramChecklist.Render();

        dialog.visible = true;
    }

    void OnSubmit()
    {
        app.project.activeParams.Clear();
        foreach (var item in paramChecklist.GetChecked())
            app.project.activeParams.Add(item);

        app.project.Save();

        dialog.visible = false;
    }

    void OnCancel()
    {
        dialog.visible = false;
    }

}