<Dialog @ref="dialog">
    <Header>@NEW_PROJECT</Header>
    <Body>
        <div class="fieldset">
            <label>@PROJECT_NAME</label>
            <input @bind="projectName" @bind:event="oninput" />
        </div>
    </Body>
    <Footer>
        <Button onClick="OnSubmit"
                styleClass="Button.StyleClass.Primary(3, caps: true)"
                enabled="ProjectUtils.CanCreate(projectName)">
            @CREATE
        </Button>
        <Button onClick="OnCancel"
                styleClass="Button.StyleClass.Normal(3, caps: true)">
            @CANCEL
        </Button>
    </Footer>
</Dialog>

@code {

    [CascadingParameter] public App app { get; set; }

    Dialog dialog;

    string projectName;

    public void Show()
    {
        projectName = null;

        dialog.visible = true;
    }

    void OnSubmit()
    {
        app.project = ProjectUtils.Create(app.config, projectName);
        app.page = nameof(Page_Project);

        dialog.visible = false;
    }

    void OnCancel()
    {
        dialog.visible = false;
    }

}