<Dialog @ref="dialog" styleClass="@styleClass">
    <Header>@options.title</Header>
    <Body>
        <div class="dialog__box__body-items">
            @foreach (var item in items)
            {
                <Dialog_Selector_Item selectable="item"
                                      selected="selectedItem == item"
                                      onClick="() => Item_Click(item)"/>
            }
        </div>
    </Body>
    <Footer>
        <Button onClick="OnSubmit"
                styleClass="@BSC.Create(BSC.Size.Small, BSC.Appearance.Primary)"
                enabled="selectedItem is not null">
            @options.submitButtonText 
        </Button>
        <Button onClick="OnCancel"
                styleClass="BSC.Create(BSC.Size.Small)">
            @CANCEL
        </Button>
    </Footer>
</Dialog>

@code {

    [Parameter] public string styleClass { get; set; }

    public struct Options
    {
        public string title;
        public string submitButtonText;
        public Func<IEnumerable<ISelectable>> onShow;
        public Func<List<ISelectable>, ISelectable> getSelected;
        public Action<ISelectable> onSubmit;
    }

    Options options;

    Dialog dialog;

    readonly List<ISelectable> items = new();
    ISelectable selectedItem;

    public void Show(Options options)
    {
        this.options = options;
        this.Render();

        items.Clear();
        items.AddRange(options.onShow());

        selectedItem = options.getSelected?.Invoke(items) ?? default;

        dialog.visible = true;
    }

    void Item_Click(ISelectable item)
    {
        selectedItem = item;
        this.Render();
    }

    void OnSubmit()
    {
        options.onSubmit?.Invoke(selectedItem);
        dialog.visible = false;
    }

    void OnCancel()
    {
        dialog.visible = false;
    }

}