<div class="dialog fade @(visible ? "" : "hidden")">
    <div class="dialog__box fade">
        <div class="dialog__box__header">@Header</div>
        <div class="dialog__box__body">@Body</div>
        <div class="dialog__box__footer">@Footer</div>
    </div>
</div>

@code {

    [CascadingParameter] public App app { get; set; }

    [Parameter] public RenderFragment Header { get; set; }
    [Parameter] public RenderFragment Body { get; set; }
    [Parameter] public RenderFragment Footer { get; set; }

    bool _visible;
    public bool visible
    {
        get => _visible;
        set
        {
            if (_visible == value)
                return;

            _visible = value;
            app.Render();
        }
    }

}