<Animated visible="visible && !Dialog.isAnyVisible" styleClass="flex-vertical">
    <div>
        <Button onClick="app.newProjectDialog.Show"
                styleClass="@BSC.Create(BSC.Size.Normal, BSC.Appearance.Primary)">
            @NEW_PROJECT
        </Button>
    </div>
    <div>
        <Button onClick="LoadProject_Click">
            @LOAD_PROJECT
        </Button>
    </div>
    <div>
        <Button onClick="LoadScriptFile_Click">
            @LOAD_SCRIPT
        </Button>
    </div>
    <div>
        <Button onClick="app.configDialog.Show">
            @CONFIG
        </Button>
    </div>
</Animated>

@code {

    [CascadingParameter] public App app { get; set; }

    [Parameter] public bool visible { get; set; }

    void LoadProject_Click()
    {
        app.selectorDialog.Show(new()
        {
            title = LOAD_PROJECT,
            submitButtonText = LOAD,
            onShow = ProjectUtils.LoadAll,
            onSubmit = item =>
            {
                app.project = item as Project;
                app.page = nameof(Page_Project);
            }
        });
    }

    void LoadScriptFile_Click()
    {
        app.selectorDialog.Show(new()
        {
            title = LOAD_SCRIPT,
            submitButtonText = LOAD,
            onShow = FileUtils.GetScriptFiles,
            onSubmit = item =>
            {
                app.scriptFile = item as ScriptFile;
                app.page = nameof(Page_Script);
            }
        });
    }

}