<div flex-vertical>
    <div>
        <Button onClick="app.newProjectDialog.Show"
                styleClass="@Button.StyleClass.Primary(2)">
            @NEW_PROJECT
        </Button>
    </div>
    <div>
        <Button onClick="() => app.loadProjectDialog.Show(OnLoadProject)">
            @LOAD_PROJECT
        </Button>
    </div>
    <div>
        <Button onClick="() => app.loadScriptDialog.Show(OnLoadScriptFile)">
            @LOAD_SCRIPT
        </Button>
    </div>
    <div>
        <Button onClick="app.configDialog.Show">
            @CONFIG
        </Button>
    </div>
</div>

@code {

    [CascadingParameter] public App app { get; set; }

    void OnLoadProject(Project project)
    {
        app.project = project;
        app.page = nameof(Page_Project);
    }

    void OnLoadScriptFile(ScriptFile scriptFile)
    {
        app.scriptFile = scriptFile;
        app.page = nameof(Page_Script);
    }

}