<Animated visible="visible" styleClass="page-script flex-vertical">
    <div style="position: absolute; right: 0; margin-right: -7px; display: flex; gap: .5rem; ">
        <Button onClickAsync="ReloadScript_Click"
                styleClass="@BSC.Create(BSC.Size.Small)">
            @RELOAD
        </Button>
        <Button onClick="CloseScript_Click"
                styleClass="@BSC.Create(BSC.Size.Small, BSC.Appearance.Dangerous)">
            @CLOSE
        </Button>
    </div>
    <div>
        <ScriptView @ref="scriptView" scriptFile="app.scriptFile" />
    </div>
</Animated>

@code {

    [CascadingParameter] public App app { get; set; }

    [Parameter] public bool visible { get; set; }

    ScriptView scriptView;
    bool _visible;

    protected override async Task OnAfterRenderAsync(bool _)
    {
        if (_visible == visible)
            return;

        _visible = visible;

        if (!_visible)
            return;

        await ReloadScript_Click();
    }

    async Task ReloadScript_Click()
    {
        await scriptView.ReloadAsync();
        await scriptView.RenderAsync();
    }

    void CloseScript_Click()
    {
        app.page = nameof(Page_MainMenu);
    }

}