<div flex-vertical class="page-script fade">
    <div style="position: absolute; right: 0; margin-right: -7px; display: flex; ">
        <Button onClickAsync="ReloadScript_Click"
                styleClass="@Button.StyleClass.Normal(3)">
            @RELOAD
        </Button>
        <Button onClick="CloseScript_Click"
                styleClass="@Button.StyleClass.Dangerous(3)">
            @CLOSE
        </Button>
    </div>
    <div>
        <ScriptView @ref="scriptView" scriptFile="app.scriptFile" />
    </div>
</div>

@code {

    [CascadingParameter] public App app { get; set; }

    ScriptView scriptView;

    async Task ReloadScript_Click()
    {
        await scriptView.ReloadAsync();
        await scriptView.RenderAsync();
    }

    void CloseScript_Click()
    {
        app.scriptFile = null;
        app.page = nameof(Page_MainMenu);
    }

}