<div class="titlebar @(borderless ? "" : "fade hidden")">
    <div class="flex-1" @onmousedown="mainForm.Drag"></div>
    <button @onclick="() => mainForm.Close()"
            @onclick:stopPropagation="true">&nbsp;</button>
</div>

<div class="main fade">
    <CascadingValue Value="this">

        <LogView @ref="logView" />

        <div class="page fade">
            <Page_Checksum visible="page == nameof(Page_Checksum)" onNextClick="Checksum_NextClick" />
            <Page_MainMenu visible="page == nameof(Page_MainMenu)" />
            <Page_Project visible="page == nameof(Page_Project)" />
            <Page_Script visible="page == nameof(Page_Script)" />
        </div>

        <TaskInstanceListView />

        <Dialog_NewProject @ref="newProjectDialog" />
        <Dialog_Config @ref="configDialog" />
        <Dialog_CustomBuildSettings @ref="customBuildSettingsDialog" />

        <Dialog_Selector @ref="selectorDialog" />
        <Dialog_Selector @ref="subSelectorDialog" styleClass="dialog-sub" />

    </CascadingValue>
</div>

@inject IJSRuntime javascript

@code {

    [Parameter] public MainForm mainForm { get; set; }
    [Parameter] public Config config { get; set; }

    public LogView logView { get; private set; }

    public Dialog_NewProject newProjectDialog { get; private set; }
    public Dialog_Config configDialog { get; private set; }
    public Dialog_CustomBuildSettings customBuildSettingsDialog { get; private set; }

    public Dialog_Selector selectorDialog { get; private set; }
    public Dialog_Selector subSelectorDialog { get; private set; }

    string _page = nameof(Page_Checksum);
    public string page
    {
        private get => _page;
        set
        {
            if (_page == value)
                return;

            _page = value;
            this.Render();
        }
    }

    public Project project;
    public ScriptFile scriptFile;

    bool borderless => !string.IsNullOrEmpty(config.themeName)
        && FileUtils.GetThemeFiles().Any(x => x.name == config.themeName);

    bool updateUI;

    protected override void OnInitialized()
    {
        mainForm.FormClosing += async (_, _) =>
        {
            await SetHiddenAsync(true);
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender && !updateUI)
            return;

        updateUI = false;

        if (firstRender)
            await SetHiddenAsync(false);

        await UpdateUIAsync();
    }

    public void UpdateUI()
    {
        updateUI = true;
        this.Render();
    }

    public async Task UpdateUIAsync()
    {
        mainForm.UpdateUI(config.uiScale, borderless);
        var file = FileUtils
            .GetThemeFiles()
            .FirstOrDefault(x => x.name == config.themeName);
        var style = (file is not null && FileExists(file.path)) ? ReadText(file.path) : "";
        await javascript.InvokeVoidAsync("setContent", "#custom-style", style);
    }

    async Task SetHiddenAsync(bool hidden)
    {
        await javascript.InvokeVoidAsync("setClass", "#app", "hidden", hidden);
    }

    void Checksum_NextClick()
    {
        page = nameof(Page_MainMenu);
    }

}