<CascadingValue Value="this">

    <LogView @ref="logView" />

    <div class="page fade">
        @switch (page)
        {
            case nameof(Page_Checksum):
                <Page_Checksum onNextClick="Checksum_NextClick" />
                break;

            case nameof(Page_MainMenu):
                <Page_MainMenu />
                break;

            case nameof(Page_Project):
                <Page_Project />
                break;

            case nameof(Page_Script):
                <Page_Script />
                break;
        }
    </div>

    <TaskInstanceListView />

    <Dialog_Selector @ref="selectorDialog" />

    <Dialog_NewProject @ref="newProjectDialog" />
    <Dialog_Config @ref="configDialog" />
    <Dialog_CustomBuildSettings @ref="customBuildSettingsDialog" />
    
</CascadingValue>

@code {

    [Parameter] public MainForm mainForm { get; set; }

    public Config config { get; private set; }

    public LogView logView { get; private set; }

    public Dialog_Selector selectorDialog { get; private set; }

    public Dialog_NewProject newProjectDialog { get; private set; }
    public Dialog_Config configDialog { get; private set; }
    public Dialog_CustomBuildSettings customBuildSettingsDialog { get; private set; }

    string _page = nameof(Page_Checksum);
    public string page
    {
        private get => _page;
        set
        {
            if (_page == value)
                return;

            _page = value;
            this.Render();
        }
    }

    public Project project;
    public ScriptFile scriptFile;

    protected override void OnInitialized()
    {
        config = Config.Load();
    }

    void Checksum_NextClick()
    {
        page = nameof(Page_MainMenu);
    }

}