<button @onclick="SimpleAsyncCallback.Create(OnClick)"
        disabled="@disabled"
        class="@styleClass">
    @ChildContent
</button>

@code {

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public Action onClick { get; set; }
    [Parameter] public Func<Task> onClickAsync { get; set; }
    [Parameter] public bool enabled { get; set; } = true;

    public class StyleClass
    {
        public int size;
        public string appearance;
        public string customClasses;
        public bool autoSize;

        public static StyleClass Normal(int size)
            => Default(size, "normal");

        public static StyleClass Primary(int size)
            => Default(size, "primary");

        public static StyleClass Dangerous(int size)
            => Default(size, "dangerous");

        public static StyleClass Default(int size, string appearance) => new()
        {
            size = size,
            appearance = appearance
        };

        public static StyleClass Custom(string customClasses) => new()
        {
            customClasses = customClasses
        };

        public StyleClass AutoSize()
        {
            autoSize = true;
            return this;
        }

        public override string ToString()
        {
            var result = new List<string>();
            if (size != 0)
                result.Add($"button-{size}");
            if (!string.IsNullOrWhiteSpace(appearance))
                result.Add($"button-{appearance}");
            if (autoSize)
                result.Add("button-autosize");
            if (!string.IsNullOrEmpty(customClasses))
                result.Add(customClasses);
            return string.Join(" ", result);
        }
    }

    [Parameter] public StyleClass styleClass { get; set; } = StyleClass.Normal(2);
    
    bool disabled => MainForm.instance.closing || !enabled;

    async Task OnClick()
    {
        if (onClick is not null)
            onClick.Invoke();

        if (onClickAsync is not null)
            await onClickAsync.Invoke();
    }

    record SimpleAsyncCallback(Func<Task> Callback) : IHandleEvent
    {
        public static Func<Task> Create(Func<Task> callback) => new SimpleAsyncCallback(callback).Invoke;

        public Task Invoke() => Callback();
        public Task HandleEventAsync(EventCallbackWorkItem item, object arg) => item.InvokeAsync(arg);
    }

}