<div @ref="logElement" class="log fade @(visible ? "visible" : "")">
    @foreach (var entry in Program.logger.entries)
    {
        <LogView_Entry entry="entry" />
    }
</div>

<button class="log-toggle-button fade"
        @onclick="() => _visible = !_visible"></button>

@inject IJSRuntime javascript

@code {

    ElementReference logElement;

    bool _visible;
    public bool visible
    {
        get => _visible;
        set
        {
            _visible = value;
            this.Render();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await javascript.InvokeVoidAsync("scrollToBottom", logElement);
    }

}