<Selectable selected="selected" onClick="() => onClick?.Invoke()" enabled="enabled">
    <div flex-horizontal style="height: 100%; ">
        <div flex-vertical style="flex: 1; @(big ? "padding: 1.5rem; line-height: 2em; " : "")">
            <div style="@(big ? "font-size: 1.5em; " : "")"><b>@project.name</b></div>
            <div>@(project.GetModificationDate()?.ToString(Lang.Format.DATETIME) ?? "")</div>
        </div>
        <div flex-vertical no-flex no-gap>
            @ChildContent
        </div>
    </div>
</Selectable>

@code {

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public Project project { get; set; }
    [Parameter] public bool selected { get; set; }
    [Parameter] public bool enabled { get; set; } = true;
    [Parameter] public bool big { get; set; }
    [Parameter] public Action onClick { get; set; }

}