<div class="script-instance">
    @if (scriptInstance is not null)
    {
        <h3>Fields</h3>
        <div class="script-instance-fields">
            @foreach (var field in scriptInstance.GetFields())
            {
                <ScriptInstanceView_Field scriptInstance="scriptInstance" field="field" />
            }
        </div>

        <h3>Methods</h3>
        <div class="script-instance-methods">
            @foreach (var method in scriptInstance.GetMethods())
            {
                <ScriptInstanceView_Method scriptInstance="scriptInstance" method="method" />
            }
        </div>
    }
</div>

@code {

    [Parameter] public ScriptInstance scriptInstance { get; set; }

}