<div class="script">
    <div class="script-title">
        @scriptFile.name
    </div>
    <ScriptInstanceView scriptInstance="scriptInstance" />
</div>

@code {

    [Parameter] public ScriptFile scriptFile { get; set; }

    ScriptInstance scriptInstance;

    protected override async Task OnInitializedAsync()
    {
        await ReloadAsync();
    }

    public async Task ReloadAsync()
    {
        await Task.Run(() =>
        {
            var compiledScript = ScriptCompilerUtils.Compile(scriptFile);
            scriptInstance = ScriptInstance.Create(compiledScript);
        });
    }

}