<div class="script">
    <ScriptInstanceView scriptInstance="scriptInstance" />
</div>

@code {

    [Parameter] public string name { get; set; }

    readonly ScriptCompiler scriptCompiler = new();

    CompiledScript compiledScript;
    ScriptInstance scriptInstance;

    public void Compile()
    {
        var path = Path(UserData.scriptsFolder, $"{name}.cs");

        if (!FileExists(path))
            path = Path(Data.scriptsFolder, $"{name}.cs");

        compiledScript = scriptCompiler.Compile(path);
    }

    public void Instantiate()
    {
        scriptInstance = ScriptInstance.Create(compiledScript);
        this.Render();
    }

}