<div class="script">
    <div class="script-title">
        @scriptFile?.name
    </div>
    <ScriptInstanceView scriptInstance="scriptInstance" />
</div>

@code {

    [Parameter] public ScriptFile scriptFile { get; set; }

    ScriptInstance scriptInstance;

    public async Task ReloadAsync()
    {
        scriptInstance = null;
        await this.RenderAsync();

        await Task.Run(async () =>
        {
            try
            {
                var compiledScript = ScriptCompilerUtils.Compile(scriptFile);
                scriptInstance = ScriptInstance.Create(compiledScript);
            }
            catch (Exception ex)
            {
                scriptInstance = null;
                await Message.CreateError(ex.Message).ShowAsync();
            }
        });
    }

}