@font-face {
  font-family: darksouls-main;
  src: url(optimus-princeps.ttf);
}
@font-face {
  font-family: darksouls-ui;
  src: url(garamond-pro.otf);
}
#cursor {
  background-image: url(cursor.png);
}

.main {
  background: url(window.png);
}

body, button, input {
  font-family: darksouls-ui;
  font-size: 1em;
}

h1, h2, h3, h4, h5, .script-title {
  font-family: darksouls-main;
}

.button {
  position: relative;
  translate: -2px 0;
}
.button:not(.button-mini) {
  height: 39px;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position-y: 1px;
  translate: 1px 0;
}

.button-default::before {
  filter: brightness(50%) sepia(100%) hue-rotate(175deg) saturate(25%);
}
.button-default:hover::before {
  filter: brightness(70%) sepia(100%) hue-rotate(175deg) saturate(25%);
}
.button-default:active:not(:disabled)::before {
  filter: brightness(90%) sepia(100%) hue-rotate(175deg) saturate(25%);
}

.button-primary::before {
  filter: brightness(75%) contrast(105%) sepia(100%) hue-rotate(-10deg) saturate(300%);
}
.button-primary:hover::before {
  filter: brightness(90%) contrast(105%) sepia(100%) hue-rotate(-10deg) saturate(300%);
}
.button-primary:active:not(:disabled)::before {
  filter: brightness(105%) contrast(105%) sepia(100%) hue-rotate(-10deg) saturate(300%);
}

.button-dangerous::before {
  filter: brightness(50%) sepia(100%) hue-rotate(-45deg) saturate(400%);
}
.button-dangerous:hover::before {
  filter: brightness(65%) sepia(100%) hue-rotate(-45deg) saturate(400%);
}
.button-dangerous:active:not(:disabled)::before {
  filter: brightness(80%) sepia(100%) hue-rotate(-45deg) saturate(400%);
}

.button-large {
  background-color: transparent !important;
}
.button-large::before {
  background-image: url(button-large.png);
}

.button-normal {
  background-color: transparent !important;
}
.button-normal::before {
  background-image: url(button-normal.png);
}

.button-small {
  background-color: transparent !important;
}
.button-small::before {
  background-image: url(button-small.png);
}

.button-mini {
  border-radius: 0.25rem;
}

.dialog__box {
  width: 564px;
  height: 551px;
  background: url(dialog.png) no-repeat center;
  background-size: 85%;
  padding: 3.75rem;
}

.selectable::before {
  background: url(selectable.png) no-repeat center;
  background-size: contain;
}

.flex-vertical,
.flex-horizontal,
.dialog__box__footer,
.dialog__box__body-items {
  gap: 0;
}

.script-instance-method {
  padding: 2px 0 0 2px;
}
.script-instance-method-parameter {
  margin-right: 0.5rem;
}
.script-instance-method-parameter:first-child {
  margin-left: 0;
}

.config-ui-scaling button {
  width: 130px;
  margin-inline: -0.25rem;
}
